xml/relation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Relation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CommonID" type="xs:string"/>
				<xs:element maxOccurs="unbounded" minOccurs="0" name="Reference">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Endpoint" type="xs:string"/>
							<xs:element name="Id" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>